<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/style.css" />
  <title>Welcome!</title>
</head>

<body>
  <header>
    <nav class="black">
      <div class="nav-wrapper">
        <a href="#" class="center"></a>
        <a id="nav-mobile" class="center hide-on-med-and-down">
            <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
      </div>
    </nav>
    <header>

      <main>
        <h3>Welcome, <%=user.username%>!</h3>
        <div>

        </div>
        <ul>
          <li>First Name:
            <%=user.firstname%>
          </li>
          <li>Last Name:
            <%=user.lastname%>
          </li>
        </ul>
        <h4>Add Your Favorite Artists</h4>
        <div>
          <div class="row">
            <form id="searchForm" method="post" action="/users/<%=user.id%>/artists" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Artist" name="artist" class="grey-text text-black" id="artist" type="text" class="validate">
                  <label for="artist"></label>
                </div>
              </div>
              <div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons center"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col s12"></div>
            <div class="col s7 push-s5 font-size" id="artistName"></div>
            <!-- <br>
            <div class="col s5 pull-s7 collection" id="artistEvents"></div> -->
          </div>
        </div>
        <ul>
        <% for(var i = 0; i<userArtists.length; i++){%>
          <li><%=userArtists[i].url%></li>
        <%}%>
    </ul>



      </main>


      <footer class="page-footer black">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">LineUp</h5>
              <p class="grey-text text-lighten-4">Find local artists, venues, and tickets wherever you are with a single click.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="index.html">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="about.html">About</a></li>
                <li><a class="grey-text text-lighten-3" href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <a href="https://www.linkedin.com/in/stephanie-baron/">© 2017 Stephanie Baron<a>
              <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/jdenticon@1.7.2" async></script>
</body>

</html>
